---
import Layout from "../../layouts/Layout.astro";

import SectionTitle from "../../components/SectionTitle.astro";
---

<Layout title="Mentions Légales - VXIT.IO">
    <main>
        <section class="legal">
            <SectionTitle>Mentions Légales</SectionTitle>
            <p class="subtitle">Dernière mise à jour : 2025-08-13</p>
            <h3>Informations de contact</h3>
            <ul>
                <li><strong>Entreprise :</strong> VXIT.IO OÜ</li>
                <li><strong>Courriel :</strong> legal@vxit.io</li>
            </ul>
            <h3>Informations de facturation</h3>
            <h4>EUR</h4>
            <ul>
                <li>
                    <strong>BÉNÉFICIAIRE :</strong> vxit.io OÜ
                </li>
                <li>
                    <strong>DEVISE :</strong> EUR
                </li>
                <li>
                    <strong>IBAN :</strong> LT56 3250 0775 8606 5302
                </li>
                <li>
                    <strong>BIC :</strong> REVOLT21
                </li>
                <li>
                    <strong>ADRESSE :</strong> Narva mnt 5, City Center District,
                    Harju, 10117, Tallinn, Estonie
                </li>
            </ul>
            <h4>USD, GBP, CHF</h4>
            <ul>
                <li>
                    <strong>BÉNÉFICIAIRE :</strong> vxit.io OÜ
                </li>
                <li>
                    <strong>DEVISES :</strong> USD, GBP, CHF
                </li>
                <li>
                    <strong>IBAN :</strong> LT56 3250 0775 8606 5302
                </li>
                <li>
                    <strong>BIC :</strong> REVOLT21
                </li>
                <li>
                    <strong>BIC Intermédiaire : CHASGB2L</strong>
                </li>
                <li>
                    <strong>ADRESSE :</strong> Narva mnt 5, City Center District,
                    Harju, 10117, Tallinn, Estonie
                </li>
            </ul>
            <h3>Informations sur l'entreprise</h3>
            <ul>
                <li><strong>Nom de l'entreprise :</strong> VXIT.IO OÜ</li>
                <li><strong>Numéro d'immatriculation :</strong> 17301800</li>
                <li>
                    <strong>Adresse :</strong> Tallinn, Kesklinna linnaosa, Narva
                    mnt 5, 10117
                </li>
            </ul>
            <h3>Nous contacter</h3>
            <p>
                Des questions sur nos politiques ? Envoyez-nous un courriel à
                legal@vxit.io.
            </p>
        </section>
    </main>
</Layout>
<style>
    main {
        padding: var(--space-16) var(--space-8) 0;
    }

    .legal {
        max-width: 800px;
        margin: 0 auto;
    }

    .subtitle {
        margin-top: -1.5rem;
        margin-bottom: var(--space-8);
        text-align: center;
    }

    h3 {
        font-size: var(--font-size-2xl);
        margin-top: var(--space-8);
        margin-bottom: var(--space-2);
    }
    h4 {
        font-size: var(--font-size-base);
    }
</style>
