---
import { Image } from "astro:assets";
import logo from "../assets/logo.png";
---

<header>
    <a href="/" class="logo">
        <div class="logo-placeholder">LOGO</div>
    </a>

    <nav>
        <ul>
            <li><a href="/vxit/">Home</a></li>
            <li><a href="/vxit/services">Services</a></li>
            <li><a href="/vxit/portfolio">Portfolio</a></li>
            <li><a href="/vxit/contact">Contact Us</a></li>
        </ul>
    </nav>

    <button id="navToggle" class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </button>
</header>

<style>
    header {
        z-index: 100;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        width: calc(100% - var(--space-4) * 2);
        height: calc(var(--header-height) - var(--space-3) * 2);
        justify-content: space-between;
        align-items: center;
        padding: var(--space-3) var(--space-4);
    }

    .logo {
        display: none;
        animation: 1.5s ease-in-out 1 slideFromLeft;
        transition: scale 0.3s ease;
    }
    .logo:hover {
        scale: 1.05;
    }
    .logo img {
        width: 75px;
        height: auto;
    }

    nav {
        display: flex;
        margin: auto;
        padding: var(--space-4) var(--space-10);
        background: rgba(10, 10, 10, 0.6);
        backdrop-filter: blur(24px);
        border: 1px solid var(--color-gray);
        border-radius: var(--radius-full);
        animation: 1.5s ease-in-out 1 slideFromTop;
    }
    nav ul {
        display: flex;
        gap: var(--space-12);
        margin: 0;
        padding: 0;
        list-style: none;
    }
    nav ul li a {
        text-decoration: none;
        color: var(--color-white);
        font-size: var(--font-size-base);
        transition: color 0.3s ease;
    }
    nav ul li a:hover {
        color: var(--color-accent);
    }

    .hamburger {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6px;
        background: transparent;
        border: none;
        cursor: pointer;
    }
    .hamburger span {
        height: 2px;
        width: 25px;
        background-color: var(--color-black);
        transition:
            transform 0.3s ease,
            opacity 0.3s ease;
    }
    .hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translateY(11px);
    }
    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg) translateY(-11px);
    }

    @keyframes slideFromTop {
        from {
            transform: translateY(-150%);
        }
        to {
            transform: translateY(0);
        }
    }

    @keyframes slideFromLeft {
        from {
            transform: translateX(-300%);
        }
        to {
            transform: translateX(0);
        }
    }
</style>

<script>
    const nav = document.querySelector("nav");
    const navToggle = document.querySelector("#navToggle");

    navToggle?.addEventListener("click", () => {
        navToggle.classList.toggle("active");
        nav?.classList.toggle("active");
    });
</script>
