---
import Layout from "../../layouts/Layout.astro";

import SectionTitle from "../../components/SectionTitle.astro";
---

<Layout title="Rechtliche Hinweise - VXIT.IO">
    <main>
        <section class="legal">
            <SectionTitle>Rechtliche Hinweise</SectionTitle>
            <p class="subtitle">Zuletzt aktualisiert: 2025-08-13</p>
            <h3>Kontaktinformationen</h3>
            <ul>
                <li><strong>Firma:</strong> VXIT.IO OÜ</li>
                <li><strong>E-Mail:</strong> legal@vxit.io</li>
            </ul>
            <h3>Rechnungsinformationen</h3>
            <h4>EUR</h4>
            <ul>
                <li>
                    <strong>EMPFÄNGER:</strong> vxit.io OÜ
                </li>
                <li>
                    <strong>WÄHRUNG:</strong> EUR
                </li>
                <li>
                    <strong>IBAN:</strong> LT56 3250 0775 8606 5302
                </li>
                <li>
                    <strong>BIC:</strong> REVOLT21
                </li>
                <li>
                    <strong>ADRESSE:</strong> Narva mnt 5, City Center District,
                    Harju, 10117, Tallinn, Estland
                </li>
            </ul>
            <h4>USD, GBP, CHF</h4>
            <ul>
                <li>
                    <strong>EMPFÄNGER:</strong> vxit.io OÜ
                </li>
                <li>
                    <strong>WÄHRUNGEN:</strong> USD, GBP, CHF
                </li>
                <li>
                    <strong>IBAN:</strong> LT56 3250 0775 8606 5302
                </li>
                <li>
                    <strong>BIC:</strong> REVOLT21
                </li>
                <li>
                    <strong>Intermediary BIC: CHASGB2L</strong>
                </li>
                <li>
                    <strong>ADRESSE:</strong> Narva mnt 5, City Center District,
                    Harju, 10117, Tallinn, Estland
                </li>
            </ul>
            <h3>Unternehmensinformationen</h3>
            <ul>
                <li><strong>Firmenname:</strong> VXIT.IO OÜ</li>
                <li><strong>Registrierungsnummer:</strong> 17301800</li>
                <li>
                    <strong>Adresse:</strong> Baltic Business Services OÜ, Harju
                    maakond, Tallinn, Kesklinna linnaosa, Narva mnt 5, 10117 (contact@1office.co)
                </li>
            </ul>
            <h3>Kontaktieren Sie uns</h3>
            <p>Fragen zu unseren Richtlinien? Senden Sie uns eine E-Mail an legal@vxit.io.</p>
        </section>
    </main>
</Layout>
<style>
    main {
        padding: var(--space-16) var(--space-8) 0;
    }

    .legal {
        max-width: 800px;
        margin: 0 auto;
    }

    .subtitle {
        margin-top: -1.5rem;
        margin-bottom: var(--space-8);
        text-align: center;
    }

    h3 {
        font-size: var(--font-size-2xl);
        margin-top: var(--space-8);
        margin-bottom: var(--space-2);
    }
    h4 {
        font-size: var(--font-size-base);
    }
</style>
