---
import Layout from "../../layouts/Layout.astro";

import SectionTitle from "../../components/SectionTitle.astro";
---

<Layout title="Notas Legales - VXIT.IO">
    <main>
        <section class="legal">
            <SectionTitle>Notas Legales</SectionTitle>
            <p class="subtitle">Última Actualización: 2025-08-13</p>
            <h3>Información de Contacto</h3>
            <ul>
                <li><strong>Empresa:</strong> VXIT.IO OÜ</li>
                <li><strong>Correo Electrónico:</strong> legal@vxit.io</li>
            </ul>
            <h3>Información de Facturación</h3>
            <h4>EUR</h4>
            <ul>
                <li>
                    <strong>BENEFICIARIO:</strong> vxit.io OÜ
                </li>
                <li>
                    <strong>MONEDA:</strong> EUR
                </li>
                <li>
                    <strong>IBAN:</strong> LT56 3250 0775 8606 5302
                </li>
                <li>
                    <strong>BIC:</strong> REVOLT21
                </li>
                <li>
                    <strong>DIRECCIÓN:</strong> Narva mnt 5, City Center District,
                    Harju, 10117, Tallinn, Estonia
                </li>
            </ul>
            <h4>USD, GBP, CHF</h4>
            <ul>
                <li>
                    <strong>BENEFICIARIO:</strong> vxit.io OÜ
                </li>
                <li>
                    <strong>MONEDAS:</strong> USD, GBP, CHF
                </li>
                <li>
                    <strong>IBAN:</strong> LT56 3250 0775 8606 5302
                </li>
                <li>
                    <strong>BIC:</strong> REVOLT21
                </li>
                <li>
                    <strong>BIC Intermediario: CHASGB2L</strong>
                </li>
                <li>
                    <strong>DIRECCIÓN:</strong> Narva mnt 5, City Center District,
                    Harju, 10117, Tallinn, Estonia
                </li>
            </ul>
            <h3>Información de la Empresa</h3>
            <ul>
                <li><strong>Nombre de la Empresa:</strong> VXIT.IO OÜ</li>
                <li><strong>Número de Registro:</strong> 17301800</li>
                <li>
                    <strong>Dirección:</strong> Baltic Business Services OÜ, Harju
                    maakond, Tallinn, Kesklinna linnaosa, Narva mnt 5, 10117 (contact@1office.co)
                </li>
            </ul>
            <h3>Contáctanos</h3>
            <p>
                ¿Preguntas sobre nuestras políticas? Envíanos un correo
                electrónico a legal@vxit.io.
            </p>
        </section>
    </main>
</Layout>
<style>
    main {
        padding: var(--space-16) var(--space-8) 0;
    }

    .legal {
        max-width: 800px;
        margin: 0 auto;
    }

    .subtitle {
        margin-top: -1.5rem;
        margin-bottom: var(--space-8);
        text-align: center;
    }

    h3 {
        font-size: var(--font-size-2xl);
        margin-top: var(--space-8);
        margin-bottom: var(--space-2);
    }
    h4 {
        font-size: var(--font-size-base);
    }
</style>
